
body {
	color: #000;
	font-size: 1rem;
	line-height: 1.4;
	font-family: 'Lato', sans-serif;
     
}

header {
	margin-bottom: #000 solid;  
}

h3 {
	font-size: 2rem;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}	

footer {
	height: 4rem;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 1.5em;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

header h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 5rem;
	text-align: right;
	height: 6rem;
}

	@media only screen and (max-width: 40em) { 
		header h1 {
			text-align: center;
			margin-bottom: 0;
		}
	}

header h2 {
	text-align: left;
	padding-top: 3rem;
	font-size: 2;
	font-size: 1.5rem;
	font-weight: 100;
}

	@media only screen and (max-width: 40em) { 
		header h2 {
			text-align: center;
			padding-top: 0;
		}
	}

nav div.small-3.columns {
	text-align: center;
}

	@media only screen and (max-width: 40em) { 
		nav div.small-3.columns {
			padding: 0 0 0 0;
		}
	}

div.small-12.columns nav {

	height: 1.5em;
	border-top: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	padding-top: 0.1rem;
}

div#OrderHead h2 {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	border-bottom: 1px solid #D1D1D1;
}

nav a {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #878787;	

}

nav a:hover {
	color: #878787;
}

/*CLASSES*/

.sectionHead {
	border-bottom: 1px solid #D1D1D1;
	padding-bottom: 0;
	margin-bottom: 0.5rem;
}

.nav-content {
	display: none;
}

.nav-header {
	display: none;
}


.nav-content.current {
  display: block;
}

.nav-header.current {
  display: block;
}


.fluid-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        border: none;
}

/*IDS*/

#lambInstructions p {
	font-size: 0.75rem;
	margin: 5px 0 5px 0;
	text-align: center;
	font-style: italic;
}





.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}








