
body {
     color: #000;
     font-size: 1rem;
     line-height: 1.4;
     font-family: 'Lato', sans-serif;
    
}

header {
     margin-bottom: #000 solid; 
}

h3 {
     font-size: 2rem;
     text-align: center;
     font-family: 'Great Vibes', cursive;
}    

footer {
     height: 3rem;
     line-height: 1rem;
     color: white;
     text-align: center;
     padding-top: 1.5em;
     font-family: 'Lato', sans-serif;
     font-weight: 100;
}

footer ul {
     padding: 0;
     list-style: none;
}

footer li {
     display: inline-block;
}

.footer-left,
.footer-right   {
    background-color: black;
    height: 3rem;
    line-height: 3rem;  
}

header h1 {
     font-family: 'Great Vibes', cursive;
     font-size: 5rem;
     text-align: right;
     height: 6rem;
}

     @media only screen and (max-width: 40em) {
          header h1 {
               text-align: center;
               margin-bottom: 0;
          }
     }

header h2 {
     text-align: left;
     padding-top: 3rem;
     font-size: 2;
     font-size: 1.5rem;
     font-weight: 100;
}

     @media only screen and (max-width: 40em) {
          header h2 {
               text-align: center;
               padding-top: 0;
          }
     }

nav div.small-3.columns {
     text-align: center;
}

     @media only screen and (max-width: 40em) {
          nav div.small-3.columns {
               padding: 0 0 0 0;
          }
     }

div.small-12.columns nav {

     height: 1.5em;
     border-top: 1px solid #D1D1D1;
     padding-top: 0.1rem;
}

div#OrderHead h2 {
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
        

nav a {
     font-family: 'Lato', sans-serif;
     font-weight: 100;
     font-size: 0.9rem;
     color: #878787;    

}

nav a:hover {
     color: #878787;
}

/*CLASSES*/

.sectionHead {
     border-bottom: 1px solid #D1D1D1;
     padding-bottom: 0;
     margin-bottom: 0.5rem;
}

.nav-content {
     display: none;
}

.nav-header {
     display: none;
}


.nav-content.current {
  display: block;
}

.nav-header.current {
  display: block;
}


.fluid-wrapper {
    position: relative;
}

.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/*MAP*/

#map-canvas {
    height: 380px;
    width: 280px;
    position: relative;
}

.gmnoprint img {
    max-width: none; 
}

/*LAMB*/

#lambInstructions p {
     font-size: 0.75rem;
     margin: 5px 0 5px 0;
     text-align: center;
     font-style: italic;
}

.lamb-tooltip-container {
     position: relative; 
     z-index: 101;
}

#lamby {
     position: relative;
     width: 705px auto;
     height: 501px auto;
     top: 0px;
     left: 0px;
     z-index: 102    
}

#hindshank-pos {
     top: 57%;
     left:78%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#leg-pos {
     top: 35%;
     left: 78%;    
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#loin-pos {
     top: 12%;
     left: 60%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#chump-pos {
     top: 22%;
     left: 68%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#breast-pos {
     top: 40%;
     left: 50%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#rack-pos {
     top: 18%;
     left: 45%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#shoulder-pos {
     top: 35%;
     left: 25%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#neck-pos {
     top: 20%;
     left: 21%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

#foreshank-pos {
     top: 52%;
     left: 29%;
     position: absolute;
     z-index: 103;
     width: 10px;
     height: 10px;
}

.primal-cuts {
     font-family: 'Great Vibes', cursive;
     font-size: 1rem;
     letter-spacing: .1rem;
}

@media only screen and (max-width: 40em) {
          .primal-cuts {
               font-size: .8rem;
          }
     }



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*Social*/

/*Image replacement*/
.ir {
     text-indent: 100%;
     white-space: nowrap;
     overflow: hidden;  
}

.sprite {
     background: url('../images/sprites.png') no-repeat;
}

.social-icons a {
     display: block;
     width: 48px;
     height: 48px;
}

.facebook {
     background-position: 0 0;
}

.facebook:hover {
     background-position-y: -50px;
}

.twitter {
     background-position: -50px 0;
}

.twitter:hover {
     background-position-y: -50px;
}

.google {
     background-position: -100px 0;
}

.google:hover {
     background-position-y: -50px;
}

.instagram {
     background-position: -150px 0;
}

.instagram:hover {
     background-position-y: -50px;
}

/*ORDER*/

.cut-type-header {
    border-bottom: 1px solid #D1D1D1;
    height: 1.5rem; 
    margin-bottom: 5px;
    font-weight: 300;
}

.stock-item {
    line-height: 2.3125rem;
    font-weight: 200;
    font-size: 1rem;
}

.cut-head-right {
    text-align: right;

}


.line-total  {
    text-align: right;
    font-weight: 300;
}

.grand-total-line {
font-weight: 200;
font-size: 0.9rem;
border-top: 2px solid #d1d1d1;
}

#grand-total {
    text-align: right;
    font-weight: bold;
}

.contact-header {
    border-bottom: 1px solid #D1D1D1;
    height: 1.5rem; 
    margin-bottom: 5px;
    font-weight: 300;
}

.number-form {
    text-align: right;
    height: 1rem;
    font-weight: 100;

}

.text-form {
    text-align: left;
}

.contact-row {
    line-height: 2.3125rem;
    font-weight: 200;
    font-size: 1rem;
}





